@import url(libs/bootstrap-2.0.3/css/bootstrap.css);

body {
  background: #333;
  font-family: Arial, sans-serif;
}

.main-container {
  background-color: #fff;
}

footer {
  text-align: center;
  height: 92px;
}

.hero-unit-small {
  padding: 6px;
  margin-bottom: 6px;
  color: #333;
  background-color: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.hero-unit-small p {
  padding: 12px;
}

.hero-unit-small dl {
  padding: 12px;
}

.hero-unit-small h4 {
  padding: 6px;
  margin-bottom: 6px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  color: #fff;
  background-color: #999;
  letter-spacing: 3px;
  border-style: solid;
  border-color: #666;
  border-width: thin;
}
