@import url(libs/bootstrap-2.0.3/css/bootstrap.css);

body {
  background: black;
}

.main-body {
  padding-top: 0;
  margin-top: 40px;
}

.splash-container {
  opacity: 0.95;
  background: url('toronto.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: auto;
  background-position: bottom;
  padding: 20px;
  min-height: 500px;
}

.main-container {
  background: white;
  padding: 20px;
  margin: auto;
  min-height: 600px;
}

footer {
  background: black;
  margin: auto;
  width: 90%;
}

.contact-info {
  color: #999;
}

