.content-column a, .controls a {
  color: #1060FF;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px dashed #1060FF;
}

.content-column a:hover, .controls a:hover {
  color: #0F8AFF;
  text-decoration: none;
  border-bottom: 1px dashed #0F8AFF;
}

body {
  background-color: #D1D1D1;
  padding-top: 60px;
  padding-left: 0;
  padding-right: 0;
  color: #faf7f0;
  max-width: 1000px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (max-width: 767px) {
  body {
    background-color: #4e4e4e;
  }

  .navbar-fixed-top, .navbar-fixed-bottom {
    margin-left: 0;
    margin-right: 0;
  }
}

.main-nav {
  margin: auto;
  box-shadow: none;
  max-width: 1000px;
}

.navbar-inner {
  box-shadow: none;
  background: none;
}

.nav {
  padding: 0 15px;
}

.nav-item {
  margin-right: 3px;
}

.main-body {
  margin: auto;
  padding-top: 0;
  margin-top: 40px;
}

@media (max-width: 979px) {
  .main-body {
    margin-top: 0;
  }

  .navbar-fixed-top .navbar-inner {
    padding: 0;
  }

  .navbar-fixed-top {
    margin-bottom: 0;
  }
}

.container-fluid {
  background: #333;
  padding-right: 0px;
  padding-left: 0px;
}

.header {
  border-bottom: 1px solid #ccc;
  margin-top: 15px;
  margin-bottom: 10px;
}

.header.header-first {
  margin-top: 0;
}

.main-header-image {
  min-height: 500px;
  background: url('python.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: bottom;
}

.top-row {
  text-align: right;
}

.header-main-text {
  font-family: 'Special Elite', cursive;
  font-size: 48px;
  line-height: 72px;
}

.header-sub-text {
  font-family: 'Special Elite', cursive;
}

.main-info {
  margin: -2px 0px 0px 0px;
  background-color: white;
  padding: 20px;
}

.main-row {
  padding: 30px 40px;
}

.main-row p {
  font-size: 22px;
  line-height: 30px;
}

.main-row p a {
  color: #423f39;
  text-decoration: underline;
}

.main-row p a:hover {
  color: #423f39;
  text-decoration: underline;
}

@media (max-width: 767px) {
  .main-row p {
    font-size: 16px;
    line-height: 20px;
  }
}

.row-odd,
.row-even {
  color: #423f39;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  margin-top: 20px;
}

.row-odd {
  background-color: #d3cfc7;
  background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #d3cfc7 100%);
  background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #d3cfc7 100%);
  background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #d3cfc7 100%);
  background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, #FFFFFF), color-stop(1, #d3cfc7));
  background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #d3cfc7 100%);
  background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF 0%, #d3cfc7 100%);
}

.row-even {
  background-color: #a69f8f;
  background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #A69F8F 100%);
  background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #A69F8F 100%);
  background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #A69F8F 100%);
  background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, #FFFFFF), color-stop(1, #A69F8F));
  background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #A69F8F 100%);
  background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF 0%, #A69F8F 100%);
}

.circle {
  width: 150px;
  height: 150px;
  line-height: 150px;
  border-radius: 75px;
  color: #eee;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  -khtml-border-radius: 75px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin: 0px 20px 20px 20px;
  font-family: 'Special Elite', cursive;
}

.row-odd .circle {
  background: #666;
  float: left;
  margin-left: 0;
}

.row-even .circle {
  background: #423f39;
  float: right;
  margin-right: 0;
}

@media (max-width: 480px) {
  .row-odd .circle,
  .row-even .circle {
    display: block;
    float: none;
    margin-left: 0;
  }

  .row-odd .pull-right,
  .row-even .pull-right {
    float: none;
  }
}

/* subpages */
.sub-header-image{
  min-height: 200px;
  background: url('python.jpg') no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-position: left;
  background-color: #fff;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
  margin: auto;
  color: #666;
}

.sub-header-container {
  border-left-style: solid;
  border-left-width: 20px;
  border-left-color: #333;
  border-right-style: solid;
  border-right-width: 20px;
  border-right-color: #333;
  border-top-style: solid;
  border-top-width: 20px;
  border-top-color: #333;
  margin-top: -1px;
}

.sub-header-image .top-row {
  text-align: right;
  padding: 20px;
}

.content-holder {
  font-size: 16px;
  line-height: 22px;
  color: #423f39;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
  background-color: white;
  margin: 20px 20px 20px 20px;
  padding: 20px;
  min-height: 600px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.content-section p {
  font-size: 16px;
  line-height: 22px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.content-section li {
  font-size: 16px;
  line-height: 22px;
  margin: 10px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.content-column {
  border-left: 1px solid #d3cfc7;
  padding: 0px 20px 20px 20px;
}

@media (max-width: 767px) {
  .content-column {
    border: none;
    padding: 0;
  }
}

.side-block {
  margin-bottom: 30px;
  margin-left: 10px;
}

.sidenav {
  margin-left: 0;
}

.sidenav-item {
  list-style-type: none;
  margin-top: 10px;
}

.sidenav-item:first-child {
  margin-top: 0;
}

.sidenav-link {
  display: block;
  padding: 7px 7px;
  font-size: 15px;
  text-align: left;
}

.overlay {
  background: url('overlay.png');
  color: #ddd;
  align: center;
  padding: 20px;
}

.black-and-white {
  filter: url('filters.svg#grayscale');
  filter: gray;
  -webkit-filter: grayscale(1);
}

.black-and-white:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}

#sponsor-carousel-row {
  height: 200px;
}

#sponsor-holder {
  background-color: white;
  padding: 40px;
}

#footer-row {
  background-color: #333;
  border-top: 1px solid #000;
  color: #ccc;
  min-height: 80px;
}

.footer-nav-link {
  display: inline-block;
  margin-left: 20px;
}

#footer-links a {
  color: #ccc;
}

#footer-links a:hover {
  color: #0F8AFF;
  text-decoration: none;
}

/* schedule.mako specific styles */
.schedule-page .header {
  border-bottom: none;
}
